* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
  }
  img,
  video,
  iframe {
    max-width: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center center;
  }
  a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
  }
  p a {
    display: inline;
  }
  li {
    list-style-type: none;
  }
  table,
  tr,
  td {
    border-collapse: collapse;
    border-spacing: 0;
  }
  html {
    scroll-behavior: smooth;
  }
  h1,  h2,  h3,  h4,  h5,  h6,  strong {
    font-weight: inherit;
    font-size: inherit;
  }
  
  form,
  input,
  textarea,
  label,
  select,
  button {
    font-family: inherit;
    font-size: inherit;
    background:none;
    display: block;
  }
  
  body {
    font-size: 100%;
    min-height: 100vh;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Roboto', sans-serif;
    background-color: var(--blanco);
  }