/* Aquí definimos las Custom properties */
:root {
    --negro: #181818;
    --blanco: #ffffff;
    --grisclaro: #acacac;
    --grisoscuro: #3e3e3e;
    --gristexto: #7e7e7e;
    --sombra-ppal: #c9c9c9;
    --sombra-sec: #ffffff;
    --borde-negro: #00000050;
    --morado-comprar: #B84CB9;
    --rosa-banner: #FF99CC;
    --amarillo-reservar: #e6921d;
  
    --marcado: rgb(127, 195, 255);
  
    /* Tipografía */
    --tipo-principal: Helvetica, Arial, sans-serif;
  }
  